{% extends 'base.html' %}
{% block content %}

<h1>SUPPLIER LIST</h1>

<table class ="table">
    <thead> 
        <tr>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Notes</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for supplier in all_suppliers %}
    <tbody>
        <tr>
            <td><a href="suppliers/{{supplier.id}}">{{supplier.supplier_name}}</a></td>
            <td>{{supplier.contact_info}}</td>
            <td>{{supplier.notes}}</td>
            <td><a href='/suppliers/{{supplier.id}}/edit'>Edit</a></td>
        </tr>
    </tbody>
    {% endfor %}

{% endblock %}