{% extends 'base.html' %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Notes</th>
            <th>Edit</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>{{supplier.supplier_name}}</td>
            <td>{{supplier.contact_info}}</td>
            <td>{{supplier.notes}}</td>
            <td><a href="/suppliers/{{supplier.id}}/edit">Edit</a></td>
        </tr>
    </tbody>
</table>

{% endblock %}