{% extends 'base.html' %}
{% block content %}


<h1>{{supplier.supplier_name}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Info</th>
            <th>Notes</th>
            <th>DELETE</th>
            
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>{{supplier.supplier_name}}</td>
            <td>{{supplier.contact_info}}</td>
            <td>{{supplier.notes}}</td>
            <td><form action="/suppliers/{{supplier.id}}/delete" method="POST"><button type = "submit", class ="delete">DELETE</button></form></td>
            
        </tr>
    </tbody>
</table>


{% endblock %}