<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stock Manager</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href ="/products/new">New Product</a></li>
                <li><a href="/suppliers">Suppliers</a></li>
                <li><a href="/suppliers/new">New Supplier</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>