{% extends 'base.html' %}
{% block content %}

<form action="/products/{{product.id}}" method ="post">
    <div>
        <label for="product_name">Product Name:</label>
        <input type ="text" id="product_name" name="product_name" value ={{product.product_name}} required autofocus>   
    </div>
    <div>
        <label for="details">Product details:</label>
        <input type="text" id="details" name="details" value={{product.details}} required>
    </div>
    <div>
        <label for="stock_quantity">Current Stock Quantity:</label>
        <input type="number" id="stock_quantity" name="stock_quantity" value={{product.stock_quantity}} required>
    </div>
    <div>
        <label for="buying_cost">Cost from Supplier:</label>
        <input type="number" step="any" id="buying_cost" name="buying_cost" value={{product.buying_cost}} required>
    </div>
    <div>
        <label for="selling_price">Price:</label>
        <input type="number" step="any" id="selling_price" name="selling_price" value={{product.selling_price}} required>
    </div>
    <div>
        <label for="supplier">Supplier:</label>
        <select id="supplier" name="supplier_id">
            {% for supplier in all_suppliers %}
            <option value="{{supplier.id}}" {% if product.supplier.id == supplier.id %} selected="selected"{%endif%}>
                {{supplier.supplier_name}}
            </option>
            {% endfor %}
        </select>   
    </div>
    <button type="submit">Update Product</button>
</form>

{% endblock %}